{% extends 'base_guru.html' %}

{% load static %}

{% block title %}Edit Informasi Akun{% endblock %}

{% block content %}
{% include 'components/navbar_sidebar_guru.html' %}

<!-- Content -->
<div class="font-pj-bold-18 mt-20 max-w-2xl mx-auto">
    <h1 class="text-[24px] font-bold text-center text-cornflowerblue-200">Tentang Akun</h1>
    <div class="px-4 py-5">
        <form method="post" class="space-y-2">
            {% csrf_token %}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="nama" class="block text-sm font-medium text-gray-700 mb-1">Nama</label>
                    <input type="text" id="nama" name="nama" value="{{ guru.nama }}" readonly
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cornflowerblue-200">
                </div>

                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700 mb-1">Nama Pengguna</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" readonly
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cornflowerblue-200">
                </div>

                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" readonly
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cornflowerblue-200">
                </div>

                <div>
                    <label for="namaSekolah" class="block text-sm font-medium text-gray-700 mb-1">Nama Sekolah</label>
                    <input type="text" id="namaSekolah" name="namaSekolah" value="{{ guru.sekolah }}" readonly
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cornflowerblue-200">
                </div>

                <div>
                    <label for="mataPelajaran" class="block text-sm font-medium text-gray-700 mb-1">Mata Pelajaran</label>
                    <input type="text" id="mataPelajaran" name="mataPelajaran" value="{{ guru.mata_pelajaran }}" readonly
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cornflowerblue-200">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}