<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/output.css' %}"> {% endcomment %}
    {% tailwind_css %}
    <link rel="icon" type="image/png" href="{% static 'images/logo-color-2-2@2x.png' %}">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hammersmith One:wght@400&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT Sans Caption:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT Serif Caption:wght@400&display=swap" />
</head>

<body class="m-0 p-0">
    {% block content %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</body>

</html>